<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用bean标签声明一个对象，必须指定class为完整的路径名，id或者name任选一个-->
    <!--创建对象-->
    <!--id和name属性都是用来给对象起名字的 id表示唯一标识只能有一个 name可以有多个 建议永远加上ID-->
    <bean id="student" class="com.lz.entity.Student"/>
</beans>